@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
body{
    
    font-family: 'Roboto', sans-serif;
    background-color: #EEF9BF;
}
.container{
    background-color: #EEF9BF;
}
.name{
    
color:#75B79E ;
margin: 50px 0px;
display: flex;
align-items: center;
justify-content: center;
}
.card-game1, .card-game2{
    margin: 20px 20px;
    
    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 150px;
    background-color: #A7E9AF;
    border-radius: 5px;
    border: 1px solid #99CEA8;
    cursor: pointer;
    transition: all 1s linear;
}
.card :hover{


}
img{
    width: 100px;
    height: 100px;
}
.virar{
    transform: rotateY(180deg);
}
@media (max-width: 600px){

    .card-game1, .card-game2{
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    }

   